.imageSize{
    height: 200px;
    width: 200px;
}
.single-user{
    color: red;
    
    color: #ff9d9d;
    padding: 20px 40px;
    margin: 20px 10px;
    height: 300px;
    text-align: right;
    border-radius: 20px;
    
    box-shadow: 5px 5px 5px  gray;
}
.col-md-3{
    text-align: left;
}
.main-button{
    width: 200px;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
    background-color: #ff2e63;
    border-radius: 10px;

}